 /* Header */

 .navIntem{
    color: #000000;
    text-decoration: none;
    list-style: none;
 }

 .hrSty{
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.05);
 }

  /* Header Unlogged */
.hunlDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.arrowToBack{
    font-size: 1.8rem;
    color: black;
}

/* Card */
.bgDark{
    background-color: #100F10;
}

.valorTotalTitle{
    color: #FAFAFA;
}

.orgCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.teste{
    color: #FAFAFA !important;
    background-color: aqua !important;
    
}

.mycard{
    width: 30%;
   /* border: 1px solid #000000; */
    border-radius: 12px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    background-color: #242424;
    /* 2.5 original*/
}

.mycardHeader{
    /*border-bottom: 1px solid #000000;*/
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 3px;
    background-color: #242424;
}

.mycardTitle{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    margin-left: 9px;
    background-color: #242424;
}

.mycardStar{
    margin-right: 9px;
    font-size: 1.4rem;
    background-color: #242424;
}

.mycardBody{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    
}

.mycardText{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1.03rem;    
    font-weight: 500;
    background-color: #242424;
}

.mycardSpan{
    color: rgba(255, 255, 255, 0.85);
    background-color: #242424;
}

.mycardButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 5px;
    font-size: 1.02rem; 
    background-color: #242424;
    border-radius: 12px;
}

.mycardUpstarsButton{
    margin-right: 5px;
    border-radius: 12px;
    border: 0.3px solid black;
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}


.mycardPayedButton{
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
    width: 80%;
    border-radius: 9px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    background-color: green;
    
}

.mycardPayedButton:hover{
    background-color: green;
    color: #fff;
    border: none;
    font-weight: 500;
}

@media screen and (max-width:1023px){
    .mycard{
        width: 100%;
    }
}