.indexDivOrg{
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.indexDivOrg1{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.containerIndex {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.divTextIndex{
    width: 50%;
}

.divImageIndex {
    width: 50%;
    height: 50%;
}

.buttonLoginIndex{
    padding: 10px 30px;
    background-color: rgb(255, 126, 113);
    border-radius: 4px;
    color: #f4f4f4;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    font-weight: 600;
}